<div>

    <div class="row">
        <div class="col">
            <app-search [search]="search" (searchChange)="searchFun($event)"></app-search>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-outline-primary btn-lg m-1" (click)="showProducts()">Products</button>
                    <button class="btn btn-outline-primary btn-lg m-1" (click)="showLiked()">Liked</button>
                    <button *ngIf="userIsOwner()" class="btn btn-outline-primary btn-lg m-1" (click)="showSaved()">Saved</button>
                    <button *ngIf="userIsOwner()" class="btn btn-outline-primary btn-lg m-1" (click)="showPurchased()">Purchased</button>
                    <hr>
                    <h5>{{listName}}</h5>
                    <div class="row">
                        <div class="col text-right">
                            <button *ngIf="userIsOwner()" (click)="redirectToCreatePage()" class="btn btn-primary">Create Product</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div *ngFor="let product of products">
            <div class="col">
                <app-card-s3m [product]="product" class="m-1"></app-card-s3m>  
            </div>
        </div>
    </div>
</div>

