<div class="s3m-container">

    <div class="row">
        <div class="col">
            
        </div>
    </div>

    <div class="row">
        <div class="grid-container">
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            <app-card-s3m class="grid-item"></app-card-s3m>
            
        </div>
    </div>

    <div class="s3m-pagination" style="">
        <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>

