<div class="s3m-container">

    <div class="row">
        <div class="col">
                    
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div *ngFor="let product of products">
            <div class="col">
                <app-card-s3m [product]="product" class="m-1"></app-card-s3m>  
            </div>
        </div>
    </div>

    <div class="s3m-pagination" style="">
        <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>

