<div class="card" style="">
    <img src="../../../assets/egt.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="s3m-card-title">
        <h5 class="card-title">Audi EGT 2022</h5>
        <div>
            <span class="star">&#9733;</span>
            <span class="rate-text" style="margin-left: -1px;">4.5</span>
        </div>
      </div>
      <p class="card-text">max, obj, fbx, 3ds, c4d and more</p>
      <div class="d-flex">
        <app-avatar [size]="20" [name]="'Rasti'"></app-avatar>
        <p class="card-text" style="margin-left: 8px;">Raky FX</p>  
      </div>
      <hr>
      <div class="s3m-card-fotter">
        <img src="../../../assets/icons/save-instagram.png" class="s3m-card-icon">
        <h5 class="card-title" style="margin: 0px;">$149.99</h5>
      </div>
    </div>
</div>