/* You can add global styles to this file, and also import other style files */
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

/*
.btn-primary{
    background-color: red;
}

.btn-primary:hover{
    background-color: green ;
}

.btn-primary:focus{
    background-color: yellow;
}
*/

/*
.page-link{
    color: green;
    background-color: greenyellow;
}
*/