<div class="s3m-container">

    <div class="row">
        <div class="col-3">
            
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <app-avatar [size]="180" [name]="user.name"></app-avatar>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col text-center">
                            <h3 class="card-title">{{user.name}}</h3>
                        </div>
                    </div>
                    <hr>
                        
                    <h6>{{user.firstname}} {{user.lastname}}</h6>
                    <div>email: {{user.email}}</div>
                    <div>Country {{user.address.country}}</div>
                    <div>City: {{user.address.city}}</div>
                    <hr>

                    <h6>#products {{user.numberOfProducts}}</h6>
                    <app-rating class="" [readonly]="true" [(currentRate)]="user.averageGrade"></app-rating>
                    <hr>
                    
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header text-center">
                                    <h6>Biography</h6>
                                </div>
                                <div class="card-body">
                                    {{user.biography}}
                                </div>
                            </div>
                        </div>
                    </div>

                    




                </div>
            </div>

        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
