<div class="s3m-nav">
  <div class="s3m-container">
    <div class="row">
      <div class="col-9">
        <div class="s3m-nav-container">

          <a class="btn" href=""><div class="s3m-logo">Shop3Dmodel</div></a>

          <div class="btn-group" style="margin-left: 40px;">
            <button type="button" class="btn btn-outline-primary">All 3d models</button>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn btn-outline-primary" ngbDropdownToggle>Category</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem>One</button>
                <button ngbDropdownItem>Two</button>
                <button ngbDropdownItem>Four!</button>
              </div>
            </div>
          </div>

          <div class="input-group" style="width: 300px; margin-left: 20px;">
            <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary">
                <!-- <mat-icon>search</mat-icon> -->
              </button>
            </div>
          </div>
        
        </div>        
      </div>
      <div class="col" >a</div>
    </div>
  </div>
</div>
<div class="s3m-nav-spacer"></div>
